.input-block{
    overflow:hidden;
}

.input-block input{  
    display:block;
    float:left;
    border:none;
    border-radius:3px;
    padding:5px;
    margin:3px 5px 3px 0;
    font-size:15px;
}

.input-block .accept-button{
    margin:3px 5px 3px 0;
    font-size:15px;
    float:left;
    color:black;
    width:150px;
    padding:5px;
    text-align:center;
    border-radius:3px;
    background-color:antiquewhite;
    cursor:pointer;
    transition:background-color 200ms ease;
}

.input-block .accept-button:hover{
    background-color:#c2dbeb;
}

.admin-table {
    font-size: 14px;
    text-align: center;
    width: 95%;
    border-radius: 10px;
    border-spacing: 0;
    color:black;
    border-color:black;
}

.admin-table th, .admin-table td:first-child {
    background: rgb(180, 103, 103);
    color: white;
    padding: 10px 20px;
}

.admin-table th, td {
    border-color: white;
    border-style: solid;
    border-width: 0 1px 1px 0;
    max-width: 200px;
    text-overflow:ellipsis;
    overflow: hidden;
}

.admin-table th:first-child, td:first-child {
    text-align: left;
}

.admin-table th:first-child {
    border-top-left-radius: 10px;
}

.admin-table th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.admin-table td {
    padding: 10px 20px;
    background: rgb(246, 233, 224);
}

.admin-table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.admin-table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.admin-table tr td:last-child {
    border-right: none;
}

.admin-table tr td input{
    width: 100%;
}

.admin-table tr.deleted{
    background-color: #840000;
}