@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.ttf");
  src: local('☺'),
  url("../fonts/opensans.ttf") format("truetype");

  font-weight: normal;
  font-style:normal;
}

*{
    margin:0;
    padding:0;
    font-family:"Open Sans";
    font-weight:500;
}

.content {
    min-height: calc(100vh - 50px);
    width:100%;
    overflow:hidden;
}

body{
    background-color:rgb(199,179,170);
}

header{
    background-color:rgb(147,124,116);
    padding:5px;
    overflow:hidden;   
}


footer{
    text-transform:uppercase;
    background-color:rgb(123,93,59);
    overflow:hidden;  
    height:50px; 
    color:rgb(199,179,170);
    padding:20px;
    font-size:20px;
}

.block{
    margin:20px 50px 10px 50px;
    border-radius:5px;
}

.main-column-wide{
    width:80%;
    float:left;
}


.nav-column{
    width:15%;
    float:left;
}

nav{
    margin-top:20px;
    margin-left:40px;
    border-radius:5px;
    background-color:white;
    overflow:hidden;
}

nav ul li{
    text-align:center;
    padding:20px;
    list-style:none;
    cursor:pointer;
}

nav ul li:hover{
    background-color:aquamarine;
}

@media screen and (max-width:1000px){
    .nav-column{
        width:auto;
        float:none;
    }

    nav{
        margin-left:50px;
        margin-right:50px;
        min-width:500px;
        border-radius:5px;
        background-color:white;
        overflow:hidden;
    }

    nav ul li{
        display:inline-block;
        text-align:center;
        padding:20px;
        list-style:none;
    }

    .main-column{
        width:100%;
        float:none;
    }
}

.user-name{
    color:white;
    text-transform:uppercase;
    font-size:23px;
    float:left;
    padding:5px;
    margin-left:10px;
    margin-top:1px;
    font-weight:bold;
}

.signin-btn{
    width:80px;
    padding:10px;
    text-align:center;
    border-radius:3px;
    background-color:#00ffff;
    float:right;
    margin-right:15px;
    background-color:antiquewhite;
    cursor:pointer;
    transition:background-color 200ms ease;
}

.signin-btn:hover{
    background-color:#c2dbeb;
}

.edit-container{
    min-width:500px;
    max-width:1900px;  
    font-weight:bold;   
    color:white;
    text-align:center;   
    background-color:rgb(123,93,59);
    overflow:hidden;
}

.edit-title{
    font-weight:bold;
    font-size:36px;
}

.button-line{
    overflow:hidden;
    background-color:rgb(153,123,89);
}

.btn{
    width:20%;
    float:left;
    padding:5px;   
    font-size:20px;
    color:black;
    cursor:pointer;
}

.btn:hover{
    background-color:aquamarine;
}

.acceptor-table{
    display:none;
    margin-bottom:20px;
}

.acceptor-row{
    overflow:hidden;
    background-color:aliceblue;
    border-bottom:2px black none;
    color:black;
    text-align:left;
    cursor:pointer;
}

.acceptor-table :last-child {
    border-bottom: none;
}

.acceptor-name{
    padding:5px 0 5px 20px;
    display:inline-block;
    float:left;
}
.acceptor-status{
    padding:5px 0 5px 20px;
    display:inline-block;
    width:20%;
    float:right;
}

.selected{
    background-color:forestgreen;
}

.busy{
    background-color:indianred;
    cursor:not-allowed;
}

