
<div id="admin-bar">
    <div class="nav-bar">
        <ul>
            <div class="nav-bar-button" data-ng-click="showTable('#acceptor-shift-edit')">
                Смены приемщиков
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#address-edit')">
                Адреса
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#cell-edit')">
                Ячейки
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#cell-type-edit')">
                Виды ячеек
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#cell-visiting-edit')">
                Посещения ячеек
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#company-edit')">
                Компании
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#employee-edit')">
                Сотрудники
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#product-edit')">
                Товары
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#product-type-edit')">
                Виды товаров
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#recieving-edit')">
                Приемки
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#transfer-edit')">
                Передачи
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#unit-set-edit')">
                Наборы едениц измерения
            </div>
            <div class="nav-bar-button" data-ng-click="showTable('#position-edit')">
                Должности
            </div>
        </ul>
    </div>
    <div class="entity-edit" id="employee-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">ИНН:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.tin"/>

                <div class="form-label">Полное имя:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.fullName"/>

                <div class="form-label">Дата вступления в должность:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.takingOffice"/>

                <div class="form-label">Должность:</div>
                <select class="form-element" data-ng-options="x.name for x in positions"
                        data-ng-model="currentEntity.position">
                </select>
            </div>
            <div class="input-column">
                <div class="form-label">Логин:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.login"/>

                <div class="form-label">Номер телефона:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.phoneNumber"/>

                <div class="form-label">Пароль (задать новый):</div>
                <input type="text" class="form-element" data-ng-model="newPassword"/>

                <div class="form-label">Состоит на должности:</div>
                <input type="checkbox" class="form-checkbox" data-ng-model="currentEntity.fired"
                       data-ng-true-value="false" data-ng-false-value="true"/>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button
            <div class="input-column">
            <div class="form-label">Идентификатор:</div>
            <div>{{currentEntity.id}}</div>" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="position-edit">
        <div class="input-zone">
            </div>
            <div class="input-column">
                <div class="form-label">Название:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.name"/>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Отменить изменения</div>
        </div>
        <div class="button-line2">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="acceptor-shift-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Идентификатор:</div>
                <div>{{currentEntity.id}}</div>
                <div class="form-label">Приемщик:</div>
                <select class="form-element" data-ng-options="x.fullName for x in employees"
                        data-ng-model="currentEntity.acceptor"></select>
            </div>
            <div class="input-column">
                <div class="form-label">Начало смены:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.begining"/>
                <div class="form-label">Конец смены:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.ending"/>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="address-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Идентификатор:</div>
                <div class="form-element">{{currentEntity.id}}</div>
                <div class="form-label">Город:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.city"/>
                <div class="form-label">Улица:</div>
                <input typ="form-element" data-ng-model="currentEntity.house"/>
                <div class="form-label">Квартира:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.flat"/>
                <div class="form-label">Сотрудник:</div>
                <select class="form-element" data-ng-options="x.fullName for x in employees"
                        data-ng-model="currentEntity.employee"></select>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="be="text" class="form-element" data-ng-model="currentEntity.street"/>
    </div>
    <div class="input-column">
        <div class="form-label">Дом:</div>
        <input type="text" classutton-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="cell-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Номер:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.number"/>
                <div class="form-label">Вид ячейки:</div>
                <select class="form-element" data-ng-options="x.id for x in cellTypes"
                        data-ng-model="currentEntity.cellType"></select>
            </div>
            <div class="input-column">
                <div class="form-label">Координата X:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.x"/>
                <div class="form-label">Координата Y:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.y"/>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="cell-type-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Идентификатор:</div>
                <div class="form-element">{{currentEntity.id}}</div>
                <div class="form-label">Ширина:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.width"/>
                <div class="form-label">Высота:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.height"/>
            </div>
            <div class="input-column">
                <div class="form-label">Глубина:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.depth"/>
                <div class="form-label">Максимальный вес:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.maxWeight"/>
                <div class="form-label">Единицы измерения:</div>
                <select class="form-element" data-ng-options="x.id for x in unitSets"
                        data-ng-model="currentEntity.unitSet"></select>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="cell-visiting-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Идентификатор:</div>
                <div class="form-element">{{currentEntity.id}}</div>
                <div class="form-label">Идентификатор смены приемщика:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.shift"/>
                <div class="form-label">Идентификатор товара:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.product"/>
            </div>
            <div class="input-column">
                <div class="form-label">Время посещения:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.time"/>
                <div class="form-label">Продукт был взят:</div>
                <input type="checkbox" class="form-checkbox" data-ng-model="currentEntity.productTaken"/>
                <div class="form-label">Идентификатор ячейки:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.cell"/>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="company-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Идентификатор:</div>
                <div class="form-element">{{currentEntity.id}}</div>
            </div>
            <div class="input-column">
                <div class="form-label">Название:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.name"/>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="product-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Идентификатор:</div>
                <div class="form-element">{{currentEntity.id}}</div>
                <div class="form-label">Идентификатор приемки:</div>
                <select class="form-element" data-ng-options="x.id for x in recievings"
                        data-ng-model="currentEntity.recieving"></select>
                <div class="form-label">Идентификатор передачи:</div>
                <select class="form-element" data-ng-options="x.id for x in transfers"
                        data-ng-model="currentEntity.transfer"></select>
            </div>
            <div class="input-column">
                <div class="form-label">Время первого перемещения:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.firstGetTime"/>
                <div class="form-label">Время последнего перемещения:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.lastGetTime"/>
                <div class="form-label">Модель:</div>
                <select class="form-element" data-ng-options="x.fullModelName for x in types"
                        data-ng-model="currentEntity.productType"></select>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="product-type-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Полный идентефикатор модели:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.fullModelName"/>
                <div class="form-label">Штрихкод:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.barcode"/>
                <div class="form-label">Производитель:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.producer"/>
                <div class="form-label">Модель:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.model"/>
            </div>
            <div class="input-column">
                <div class="form-label">Вес:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.weight"/>
                <div class="form-label">Ширина упаковки:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.packWidth"/>
                <div class="form-label">Высота упаковки:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.packHeight"/>
                <div class="form-label">Длина упаковки:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.packLength"/>
                <div class="form-label">Еденицы измерения:</div>
                <select class="form-element" data-ng-options="x.id for x in unitSets"
                        data-ng-model="currentEntity.unitSet"></select>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="recieving-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Идентификатор:</div>
                <div class="form-element">{{currentEntity.id}}</div>
                <div class="form-label">Время:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.time"/>
            </div>
            <div class="input-column">
                <div class="form-label">Получивший:</div>
                <select class="form-element" data-ng-options="x.fullName for x in employees"
                        data-ng-model="currentEntity.reciever"></select>
                <div class="form-label">Компания:</div>
                <select class="form-element" data-ng-options="x.name for x in companies"
                        data-ng-model="currentEntity.company"></select>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="transfer-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Идентификатор:</div>
                <div class="form-element">{{currentEntity.id}}</div>
                <div class="form-label">Время:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.time"/>
            </div>
            <div class="input-column">
                <div class="form-label">Передавший:</div>
                <select class="form-element" data-ng-options="x.fullName for x in employees"
                        data-ng-model="currentEntity.transferer"></select>
                <div class="form-label">Компания:</div>
                <select class="form-element" data-ng-options="x.name for x in companies"
                        data-ng-model="currentEntity.company"></select>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-edit" id="unit-set-edit">
        <div class="input-zone">
            <div class="input-column">
                <div class="form-label">Идентификатор:</div>
                <div class="form-element">{{currentEntity.id}}</div>
            </div>
            <div class="input-column">
                <div class="form-label">Вес:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.weight"/>
                <div class="form-label">Дистанция:</div>
                <input type="text" class="form-element" data-ng-model="currentEntity.distance"/>
            </div>
        </div>
        <div class="button-line1">
            <div class="form-button" data-ng-click="save()">Сохранить</div>
            <div class="form-button" data-ng-click="undo()">Отменить изменения</div>
        </div>
        <div class="button-line2">
            <div class="form-button" data-ng-click="delete()">Удалить</div>
        </div>
    </div>
    <div class="entity-answer">
        <div class="center-box">
            <div class="form-label">{{answer}}</div>
            <div class="form-button" data-ng-click="continue()">Продолжить</div>
        </div>
    </div>
    <div class="right-bar">
        <table id="employee-table" class="entity-table">
            <thead>
            <tr>
                <th>{{title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="x in entities track by $index" data-ng-click="click($index)">
                <td>{{x._name}}</td>
            </tr>
            </tbody>
        </table>
        <div class="create-button" data-ng-click="create()">Создать</div>
    </div>
</div>